@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


:root{
    --max-hor-padding: 60px;
    --primary: #AB4DAB;
    --primary-gradient: linear-gradient(270deg, #AB4DAB 0%, #311431 100%);
    --primary-gradient-invert: linear-gradient(270deg, #AB4DAB 100%, #311431 50%);
    --half-white-gradient: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    --white-gradient: linear-gradient(270deg, #FFFFFF 2.37%, rgba(255, 255, 255, 0.6) 96.84%);
    --yellow-gradient: linear-gradient(211.98deg, #F2C94C 16.2%, #947310 100.33%);
    --dark: #0E071C;
    --dark-70: rgba(14, 7, 28, 0.7);
    --dark-70: rgba(14, 7, 28, 0.2);
    --light: #FFFFFF;
    --light-70: rgba(255, 255, 255, 0.7);
    --light-20: rgba(255, 255, 255, 0.2);
    --light-10: rgba(255, 255, 255, 0.1);
}


body {
    background: #110907;
    color: var(--light);
}




@media screen and (max-width:1400px) {
    :root{
        --max-hor-padding: 40px;
    }
}

@media screen and (min-width:1450px) {
    :root{
        --max-hor-padding: calc(((100vw - 1440px) / 2) + 60px);
    }
}

@media screen and (max-width:980px) {
    :root{
        --max-hor-padding: 20px;
    }
}


@media screen and (max-width:767px) {
    :root{
        --max-hor-padding: 16px;
    }
}

