/* Global CSS Start */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Inter', sans-serif;
}


:root {
    --max-hor-padding: 60px;
    --primary: #AB4DAB;
    --primary-gradient: linear-gradient(270deg, #AB4DAB 0%, #311431 100%);
    --primary-gradient-invert: linear-gradient(270deg, #AB4DAB 100%, #311431 50%);
    --half-white-gradient: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    --white-gradient: linear-gradient(270deg, #FFFFFF 2.37%, rgba(255, 255, 255, 0.6) 96.84%);
    --yellow-gradient: linear-gradient(211.98deg, #F2C94C 16.2%, #947310 100.33%);
    --dark: #0E071C;
    --dark-70: rgba(14, 7, 28, 0.7);
    --dark-70: rgba(14, 7, 28, 0.2);
    --light: #FFFFFF;
    --light-70: rgba(255, 255, 255, 0.7);
    --light-20: rgba(255, 255, 255, 0.2);
    --light-10: rgba(255, 255, 255, 0.1);
}


body {
    background: #110907;
    color: var(--light);
}


.row {
    display: flex;
    flex-direction: row;
}

.row.wrap {
    flex-wrap: wrap;
}


.col-gap-20 {
    column-gap: 20px;
}

.col-gap-30 {
    column-gap: 30px;
}

.col-gap-25 {
    column-gap: 25px;
}

.col-gap-35 {
    column-gap: 35px;
}

.col-gap-10 {
    column-gap: 10px;
}

.col-gap-15 {
    column-gap: 15px;
}

.col-gap-5 {
    column-gap: 5px;
}


.row-gap-20 {
    row-gap: 20px;
}

.row-gap-30 {
    row-gap: 30px;
}

.row-gap-25 {
    row-gap: 25px;
}

.row-gap-35 {
    row-gap: 35px;
}

.row-gap-10 {
    row-gap: 10px;
}

.row-gap-15 {
    row-gap: 15px;
}

.row-gap-5 {
    row-gap: 5px;
}


@media screen and (max-width:1400px) {
    :root {
        --max-hor-padding: 40px;
    }
}

@media screen and (min-width:1450px) {
    :root {
        --max-hor-padding: calc(((100vw - 1440px) / 2) + 60px);
    }
}

@media screen and (max-width:980px) {
    :root {
        --max-hor-padding: 20px;
    }
}


@media screen and (max-width:767px) {
    :root {
        --max-hor-padding: 16px;
    }
}



/* Global CSS End */









/* Button Style Start  */


.btn {
    text-decoration: none;
    outline: none;
    border: none;
    width: max-content;
    min-width: max-content;
    padding: 0 24px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all .4s ease;
    cursor: pointer;
    user-select: none;
}


.btn.p-40 {
    padding: 0 40px;
}

.btn.p-50 {
    padding: 0 50px;
}

.btn.small {
    padding: 7px 15px;
    font-size: 10px;
    gap: 6px;
    height: 26px;
}



.btn.light {
    background: var(--white-gradient);
    color: var(--dark);
}

.btn.light svg path {
    fill: var(--dark);
}


.btn.light:hover {
    color: var(--light);
    background: var(--dark);
}


.btn>i {
    font-size: 10px;
    margin-top: 2px;
}

.btn.small>i {
    font-size: 6px;
    margin-top: 1px;
}



.btn.primary {
    background: var(--primary-gradient);
    color: var(--light);
}


.btn.primary:hover {
    color: var(--light);
    background: var(--primary-gradient-invert);
}




.btn.dark {
    background: var(--half-white-gradient);
    color: var(--light);
}

/* Button Style End */




/* Header Style Start  */

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 var(--max-hor-padding);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: #110907;
}


header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav .header_right_section_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


header nav .menu-main-menu-container .menu {
    display: inline-flex;
    flex-direction: row;
}


header nav .menu .menu-item {
    list-style: none;
    display: block;
    transition: all .3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.news_page header nav .menu .menu-item {
    display: none;
}

.news_page header nav .menu .menu-item-news {
    display: block;
}

.news_page header nav .search_view_tab {
    display: none;
}





header nav .menu .menu-item>a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--light);
    min-width: max-content;
}

header nav .menu .menu-item>a>i {
    line-height: 50px;
    font-size: 10px;
    margin-left: 6px;
}





/* header nav .menu-main-menu-container .menu .current-page-item>a, */
/* header nav .menu-main-menu-container .menu .current-menu-item>a, */
header nav .menu-main-menu-container .menu .menu-item:hover>a {
    background: rgba(255, 255, 255, 0.1);
}




header nav .menu .menu-item .sub-menu {
    padding: 10px 0;
    position: absolute;
    top: 100%;
    background-color: #110907;
    display: none;
    flex-direction: column;
    width: max-content;
    min-width: 100%;
}


header nav .menu .sub-menu .menu-item {
    width: 100%;
    justify-content: flex-start;
}


header nav .menu .sub-menu .menu-item>a {
    line-height: 40px;
    width: 100%;
}




header nav .menu-main-menu-container .menu .menu-item:hover>.sub-menu {
    display: flex;
}




header nav .header_right_section {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}



header nav .menu_btns {
    display: flex;
    align-items: center;
    gap: 15px;
    display: none;
}


header nav .search_view_close_btn,
header nav .menu-main-menu-container .header_menu_close_btn,
header nav a.search_bar_expand_btn,
header nav a.menu-hamburger {
    width: 40px;
    height: auto;
    aspect-ratio: 1;
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    display: none;
}



header nav .search_view_close_btn,
header nav .menu-main-menu-container .header_menu_close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}


header nav .search_view_close_btn>.icon,
header nav .menu-main-menu-container .header_menu_close_btn>.icon,
header nav .search_bar_expand_btn>.icon {
    color: var(--light);
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}


header nav .menu-hamburger>.icon {
    color: var(--primary);
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}





header nav .search_bar_container {
    display: inline-flex;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    height: 50px;
    border-radius: 40px;
    height: 100%;
}

header nav .search_bar_container .btn {
    padding: 14px 35px;
}


header nav .search_bar_container .search-field {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 14px 30px;
    padding-right: 0;
}








@media (max-width:1300px) {
    header nav .search_bar_container {
        width: 230px;
    }

    header nav .search_bar_container .search-field {
        padding-left: 20px;
    }

    header nav .search_bar_container .btn {
        padding: 14px 25px;
    }

    header nav .menu .menu-item>a {
        padding: 0 10px;
    }
}







@media (min-width:768px) and (max-width:1000px) {
    header nav .search_bar_container {
        display: none;
        width: 350px;
    }

    header nav .menu_btns {
        display: inline-flex;
    }

    header nav .menu_btns a.search_bar_expand_btn {
        display: block;
    }

    /* News Page Header  */
    .news_page header nav .menu_btns a.search_bar_expand_btn {
        display: none;
    }
    

    header nav.search_bar_expanded .search_bar_container {
        display: flex;
    }

    header nav.search_bar_expanded .menu_btns a.search_bar_expand_btn,
    header nav.search_bar_expanded .menu-main-menu-container {
        display: none;
    }
}







@media (max-width:767px) {
    header nav .search_view_tab {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #110907;
        padding-top: 100px;
        transition: all .3s ease;
    }

    header nav.search_bar_expanded .search_view_tab {
        right: 0;
    }

    header nav .search_view_close_btn {
        display: block;
    }

    header nav .search_bar_container {
        height: min-content;
        width: 80vw;
        background-color: transparent;
    }

    header nav .search_bar_container .search-field {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        position: relative;
        border-bottom: 1px solid var(--light-70);
    }

    header nav .search_bar_container .search-field::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }


    header nav .menu_btns {
        display: inline-flex;
    }

    header nav .menu_btns>a {
        display: block;
    }

    header nav .header_primary_btn {
        display: none;
    }




    header nav .search_bar_container .btn {
        display: none;

    }



    header nav .menu-main-menu-container {
        position: absolute;
        top: 0;
        left: -110%;
        background-color: #110907;
        height: 100vh;
        width: 100%;
        padding: 60px 5%;
        transition: all .3s ease;
    }


    header nav.menu_expanded .menu-main-menu-container {
        left: 0;
    }


    header nav.menu_expanded .menu-main-menu-container .header_menu_close_btn {
        display: block;
    }

    header nav .menu-main-menu-container .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }


    header nav .menu .menu-item {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
    }

    header nav .menu .menu-item>a {
        width: 100%;
        position: relative;
        height: min-content;
    }


    header nav .menu .menu-item>a>i {
        float: right;
    }

    header nav .menu .menu-item>.sub-menu {
        padding: 0;
        position: relative;
    }


    header nav .menu .menu-item>.sub-menu .menu-item>a {
        padding-left: 40px;
        line-height: 30px;
    }
}


/* Header Style End */




/* Footer Style Start  */

footer {
    padding-top: 60px;
}




footer .upper_section {
    padding: 0 var(--max-hor-padding);
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


footer .upper_section>.btn {
    padding: 0 30px;
}






footer .bottom_section {
    background: rgba(217, 217, 217, 0.05);
    height: 90px;
    padding: 35px var(--max-hor-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


footer .bottom_section .social_icons {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}


footer .disclaimer {
    margin: 50px;
    margin-top: 40px;
}






@media (max-width:767px) {
    footer .upper_section {
        flex-direction: column;
        padding-bottom: 30px;
    }

    footer .disclaimer {
        margin: 30px;
    }
    
}




/* Footer Style End */




/* Interaction Card Style Start  */


.interaction_card {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}


.interaction_card .wrapper {
    max-width: calc(100vw - (var(--max-hor-padding) * 2));
    width: 100%;
    display: flex;
    justify-content: center;
}


.interaction_card .inner {
    width: 100%;
    max-width: 772px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--primary-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    gap: 10px;
    text-align: center;
    padding: 20px 0;
}


.interaction_card .inner .heading {
    text-align: center;
}


.interaction_card.large {
    height: auto;
}

.interaction_card.large .wrapper {
    max-width: none;
    width: 100%;
}

.interaction_card.large .inner {
    max-width: none;
    height: 380px;
    background-position: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 var(--max-hor-padding);
}


.interaction_card.large .inner>.btn {
    padding-left: 45px;
    padding-right: 35px;
}




@media (max-width:767px) {
    .interaction_card {
        height: 100%;
    }

    .interaction_card .inner {
        flex-direction: column;
        gap: 20px;
        background-position-x: -80px;
    }

    .interaction_card .inner .heading {
        max-width: 250px;
    }
}

/* Interaction Card Style End */




/* Join News Letter Component Style Start  */




.join_news_letter_section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 var(--max-hor-padding);
    padding-top: 80px;
}



.join_news_letter_section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}



.join_news_letter_section .content>.heading {
    margin-bottom: 10px;
}


.join_news_letter_section .content>.input_field {
    width: 100%;
    margin-top: 50px;
    max-width: 440px;
    height: 50px;
    background: var(--half-white-gradient);
    border-radius: 40px;
    position: relative;
}


.join_news_letter_section .content>.input_field>.btn {
    padding: 15px 43px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}


.join_news_letter_section .content>.input_field>input {
    width: 100%;
    height: 100%;
    padding: 17px 22px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}





@media (max-width:767px) {
    .join_news_letter_section {
        padding-top: 50px;
    }

    .join_news_letter_section .content>.heading {
        max-width: 200px;
    }
}


/* Join News Letter Component Style End */




/* Nft News List Style Start  */

.nft_news_list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.nft_news_list>.news_item .news_details,
.nft_news_list .news_item {
    display: flex;
}

.nft_news_list .news_item .news_details .title {
    transition: color .3s ease;
}

.nft_news_list .news_item:hover>.news_details .title {
    color: var(--primary);
}


.nft_news_list>.news_item .news_details>.info {
    display: inline-flex;
    gap: 10px;
}





/* Nft News List Row View Start */

.nft_news_list {
    flex-direction: row;
    gap: 50px;
}


.nft_news_list>.news_item {
    width: calc(33% - 25px);
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    max-width: 370px;
}

.nft_news_list>.news_item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}



.nft_news_list>.news_item .news_details {
    flex-direction: column;
    gap: 20px;
}

.nft_news_list>.news_item .news_details>.description {
    display: none;
}




/* Nft News List Row View End */










/* Nft News List Column View Start */

@media (min-width:768px) {
    .nft_news_list.column_view {
        flex-direction: column;
        gap: 40px;
    }


    .nft_news_list.column_view>.news_item {
        width: 100%;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        max-width: none;
    }


    .nft_news_list.column_view>.news_item>.image_wrapper {
        display: block;
    }

    .nft_news_list.column_view>.news_item img {
        width: 100%;
        max-width: 250px;
        height: auto;
        aspect-ratio: 1;
    }



    .nft_news_list.column_view>.news_item .news_details {
        flex-direction: column;
        gap: 20px;
        width: 70%;
    }

    .nft_news_list.column_view>.news_item .news_details>.description {
        margin-top: 10px;
        display: block;
    }

    @media (max-width:900px) {
        .nft_news_list.column_view>.news_item .news_details {
            gap: 10px;
        }

        .nft_news_list.column_view>.news_item .news_details>.description {
            margin-top: 0;
        }
    }
}


/* Nft News List Column View End */





@media (max-width:767px) {
    .nft_news_list {
        flex-direction: column;
        gap: 40px;
    }

    .nft_news_list .news_item {
        width: 100%;
        max-width: none;
    }

    .nft_news_list.column_view .news_item {
        flex-direction: column;
        width: 100%;
    }
}


/* Nft News List Style End */




/* Nft Projects Grid Component Style Start  */


.nft_projects_grid_component {
    width: 100%;
    height: 100%;
    padding: 0 var(--max-hor-padding);
}



.nft_projects_grid_component .head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #292220;
}

.nft_projects_grid_component .head .heading {
    /* font-size: 36px; */
    /* line-height: 1.2; */
    /* font-weight: 800; */
}


@media (max-width:767px) {
    .nft_projects_grid_component .head {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
    }

    .nft_projects_grid_component .head .heading {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 800;
    }
}




/* Nft Projects Grid Component Style End */




/* Nft Projects List Style Start  */

.nft_projects_list {
    width: 100%;
    display: flex;
    gap: 30px;
}



.nft_projects_list .nft_project {
    display: flex;
}





.nft_projects_list .nft_project .project_info {
    display: flex;
    flex-direction: column;
}






.nft_projects_list .nft_project .project_info .price_line,
.nft_projects_list .nft_project .project_info .account {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}





/* Column View Start  */


.nft_projects_list.column_view {
    flex-direction: column;
}



.nft_projects_list.column_view .nft_project {
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.nft_projects_list.column_view .nft_project .project_info .account {
    margin-bottom: 20px;
}


.nft_projects_list.column_view .nft_project>.image_wrapper {
    display: block;
    width: 100%;
}


.nft_projects_list.column_view .nft_project>.image_wrapper>img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}



/* Column View End  */






/* Row View Start */



.nft_projects_list.row_view {
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 40px;
    justify-content: space-between;
}


.nft_projects_list.row_view .nft_project {
    gap: 20px;
    width: max-content;
    align-items: center;
}


.nft_projects_list.row_view .nft_project .project_info {
    padding-top: 10px;
    width: max-content;
    justify-content: space-between;
    height: 100%;
}



.nft_projects_list.row_view .nft_project .project_info .account {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}




.nft_projects_list.row_view .nft_project>.image_wrapper {
    display: block;
    width: 50%;
    max-width: 200px;
}


.nft_projects_list.row_view .nft_project>.image_wrapper>img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}


@media (max-width:1020px) {
    .nft_projects_list.row_view .nft_project {
        width: max-content;
        gap: 10px;
    }

    .nft_projects_list.row_view .nft_project .project_info .account {
        margin-bottom: 10px;
        gap: 10px;
    }

    .nft_projects_list.row_view .nft_project>.image_wrapper {
        width: 50%;
    }
}


@media (max-width:767px) {
    .nft_projects_list.row_view {
        width: 100%;
        column-gap: 0;
        flex-direction: column;
    }

    .nft_projects_list.row_view .nft_project {
        width: 100%;
        gap: 23px;
        min-width: none;
        max-width: none;
    }
}


/* Row View End */


/* Nft Projects List Style End */




/* Typograpgy Style Start  */


.text-prewrap {
    white-space: pre-wrap;
}



.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}


input,
input::placeholder {
    color: var(--light-70);
}


a {
    text-decoration: none;
    outline: none;
    color: var(--light);
}



h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    color: var(--light);
}

.h3,
h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: var(--light);
}

h3.sm {
    font-size: 32px;
}


h3.lg {
    font-size: 38px;
}





h4,
.h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: var(--light);
}


h4.sm,
.h4.sm {
    font-size: 20px;
}




.p,
strong,
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: var(--light-70);
}

.p.sm,
strong.sm,
p.sm {
    font-size: 14px;
    line-height: 26px;
}

.p.lg,
strong.lg,
p.lg {
    font-size: 18px;
    line-height: 26px;
}

.p>strong,
strong,
p>strong {
    font-weight: 600;
}


.text-700 {
    font-weight: 700;
}

.text-600 {
    font-weight: 600;
}

.text-400 {
    font-weight: 400;
}






@media (max-width:1140px) {
    h1 {
        font-size: 46px;
    }

    h4.sm,
    .h4.sm {
        font-size: 18px;
    }

    h3.sm {
        font-size: 26px;
    }

    .p,
    strong,
    p {
        font-size: 14px;
    }

    .p.lg,
    strong.lg,
    p.lg {
        font-size: 16px;
    }
}

@media (max-width:1019px) {
    h1 {
        font-size: 40px;
    }

    h3,
    .h3 {
        font-size: 30px;
        line-height: 1;
    }

    h3.sm {
        font-size: 20px;
    }

    /* .p,
    strong,
    p {
        font-size: 14px;
    } */

    h4.sm,
    .h4.sm {
        font-size: 16px;
    }

    h4,
    .h4 {
        font-size: 18px;
    }

    /* strong.sm,
    p.sm {
        font-size: 13px;
    } */
}



@media (max-width:767px) {
    h1 {
        font-size: 36px;
    }

    .p,
    strong,
    p {
        font-size: 16px;
    }

    .p.lg,
    strong.lg,
    p.lg {
        font-size: 18px;
    }

    h3.sm {
        font-size: 26px;
    }

    h4.sm,
    .h4.sm {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 24px;
    }
}





.text-primary {
    color: var(--primary);
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

.text-light-70 {
    color: var(--light-70);
}


.text-yellow {
    color: #F2C94C;
}

.text-green {
    color: #6FCF97;
}


.text-blue {
    color: #56CCF2;
}





.bi.bold {
    -webkit-text-stroke: 2px;
}

.bi.medium {
    -webkit-text-stroke: 1px;
}

.bi.normal {
    -webkit-text-stroke: .5px;
}


/* Typograpgy Style End */

















/* Layout Margins CSS Start */


/* Layout Left Margins Start */
.ml-5 {
    margin-left: 5px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-85 {
    margin-left: 85px;
}

.ml-90 {
    margin-left: 90px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-55 {
    margin-left: 55px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

/* Layout Left Margins End */





/* Layout Right Margins Start */
.mr-5 {
    margin-right: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-80 {
    margin-right: 80px;
}

.mr-85 {
    margin-right: 85px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-55 {
    margin-right: 55px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

/* Layout Right Margins End */





/* Layout Top Margins Start */
.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

/* Layout Top Margins End */



/* Layout Bottom Margins Start */
.mb-5 {
    margin-bottom: 5px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

/* Layout Bottom Margins End */


/* Layout Vertical Margins Start */
.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mv-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mv-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mv-70 {
    margin-bottom: 70px;
    margin-top: 70px;
}

.mv-80 {
    margin-bottom: 80px;
    margin-top: 80px;
}

.mv-85 {
    margin-bottom: 85px;
    margin-top: 85px;
}

.mv-90 {
    margin-bottom: 90px;
    margin-top: 90px;
}

.mv-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mv-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mv-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.mv-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mv-45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.mv-55 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.mv-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mv-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mv-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Layout Vertical Margins End */

/* Layout Margins CSS End */



















/* Index Page Style Start  */


.index_page.home_section {
    padding: 0 var(--max-hor-padding);
    padding-top: 140px;
    padding-bottom: 80px;
}






.index_page.latest_news_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 90px var(--max-hor-padding);
    gap: 50px;
    align-items: flex-start;
}

.latest_news_section .content {
    width: 70%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
}


.index_page.latest_news_section .content>.heading {
    margin-bottom: 40px;
}



.index_page.latest_news_section .content .pagination_controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}



.index_page.latest_news_section .content .pagination_controls .pagination_btns {
    display: inline-flex;
    gap: 10px;
}

.index_page.latest_news_section .content .pagination_controls .pagination_btns>button {
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background-color: var(--light-20);
    color: var(--light);
    transition: all .3s ease;
    cursor: pointer;
}



.index_page.latest_news_section .content .pagination_controls .pagination_btns>button:is(:hover, .active) {
    background-color: var(--primary);
}







.index_page.latest_news_section .pupular_projects_section {
    width: 30%;
    max-width: 395px;
    height: 100%;
    background-color: var(--light-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 52px;
    margin-top: 60px;
}


.index_page.latest_news_section .pupular_projects_section>.heading {
    margin-bottom: 40px;
    text-align: center;
}





@media (max-width: 1400px) {
    .index_page.latest_news_section .pupular_projects_section {
        padding: 40px 25px;
    }
}


@media (max-width: 1020px) {
    .index_page.latest_news_section {
        gap: 20px;
    }

    .index_page.latest_news_section .pupular_projects_section {
        padding: 40px 15px;
    }

    .index_page.latest_news_section .pupular_projects_section {
        width: 25%;
    }
}



@media (max-width:767px) {
    .index_page.latest_news_section {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .index_page.latest_news_section .pupular_projects_section,
    .index_page.latest_news_section .content {
        width: 100%;
        max-width: none;
        padding-left: var(--max-hor-padding);
        padding-right: var(--max-hor-padding);

    }
}











.index_page.most_popular_projects {
    padding-bottom: 40px;
}


/* Index Page Style End */
















/* News Page Style Start */


.news_page.home_section {
    padding: 0 var(--max-hor-padding);
    padding-top: 140px;
    padding-bottom: 80px;
}






.news_page.latest_news_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px var(--max-hor-padding);
}

.news_page.latest_news_section .content {
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
}


.news_page.latest_news_section .content>.heading {
    margin-bottom: 40px;
}



.news_page.latest_news_section .content .pagination_controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}



.news_page.latest_news_section .content .pagination_controls .pagination_btns {
    display: inline-flex;
    gap: 10px;
}

.news_page.latest_news_section .content .pagination_controls .pagination_btns>button {
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background-color: var(--light-20);
    color: var(--light);
    transition: all .3s ease;
    cursor: pointer;
}



.news_page.latest_news_section .content .pagination_controls .pagination_btns>button:is(:hover, .active) {
    background-color: var(--primary);
}



/* News Page Style End */













/* Projects Page Style Start  */


.projects_page.home_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--max-hor-padding);
    padding-top: 145px;
    padding-bottom: 130px;
    justify-content: space-between;
    gap: 30px;
}


.projects_page.home_section .section_left {
    width: 50%;
    max-width: 560px;
}


.projects_page.home_section .section_left .heading {
    margin-bottom: 30px;
}



.projects_page.home_section .section_left .nft_tags_container {
    margin-top: 80px;
}

.projects_page.home_section .section_left .nft_tags_container .head {
    margin-bottom: 10px;
}


.projects_page.home_section .section_left .nft_tags_container .nft_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.projects_page.home_section .section_left .nft_tags_container .nft_tags .nft_tag {
    outline: none;
    border: none;
    padding: 10px 14px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-width: max-content;
}




.projects_page.home_section .section_right {
    width: 50%;
    max-width: 538px;
}




.projects_page.home_section .section_right .featured_nft_cards_component {
    width: 100%;
    position: relative;
    height: auto;

}


.projects_page.home_section .section_right .featured_nft_cards_component .featured_nft_cards_slider_dots {
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    min-height: 10px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}


.projects_page.home_section .section_right .featured_nft_cards_component .featured_nft_cards_slider_dots .carousel_dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: rgba(217, 217, 217, 0.3);
    cursor: pointer;
}

.projects_page.home_section .section_right .featured_nft_cards_component .featured_nft_cards_slider_dots .carousel_dot.active {
    background: #D9D9D9;
}



.projects_page.home_section .section_right .featured_nft_cards_slider {
    overflow: hidden;
}



.projects_page.home_section .section_right .featured_nft_cards_slider .featured_nft_cards_container {
    display: flex;
}




.projects_page.home_section .section_right .featured_nft_card {
    flex: 0 0 100%;
    min-width: 0;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    height: 500px;
    background: var(--half-white-gradient);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    cursor: grab;
}


.projects_page.home_section .section_right .featured_nft_card .featured_tag {
    position: absolute;
    left: 0;
    top: 22px;
    outline: none;
    border: none;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: var(--primary);
    border-radius: 0 40px 40px 0;
    color: var(--light);
}




.projects_page.home_section .section_right .featured_nft_card .nft_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: center;
}



.projects_page.home_section .section_right .featured_nft_card .account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


.projects_page.home_section .section_right .featured_nft_card>img {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.projects_page.home_section .section_right .featured_nft_card>.price_line {
    outline: none;
    border: none;
    background-color: var(--light);
    border-radius: 30px;
    padding: 10px 17px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--dark);
    gap: 13px;
}


.projects_page.home_section .section_right .featured_nft_card>.price_line svg path {
    fill: var(--dark);
}




@media (max-width:767px) {
    .projects_page.home_section {
        width: 100%;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 90px;
    }

    .projects_page.home_section .section_right,
    .projects_page.home_section .section_left {
        width: 100%;
        max-width: none;
    }

    .projects_page.home_section .section_left .nft_tags_container {
        margin-top: 40px;
    }
}







.projects_page.browse_by_category_section {
    width: 100%;
    padding: 0 var(--max-hor-padding);
    padding-top: 60px;
}


.projects_page.browse_by_category_section .heading {
    margin-bottom: 20px;
}


.projects_page.browse_by_category_section .categories_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.projects_page.browse_by_category_section .categories_list .category_btn {
    display: block;
    height: 51px;
    width: 245px;
    border-radius: 0px;
    padding: 16px 20px 16px 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--light);
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    transition: all .3s ease;
}

.projects_page.browse_by_category_section .categories_list .category_btn:hover {
    color: var(--primary);
}








@media (max-width: 767px) {
    .projects_page.browse_by_category_section .categories_list {
        justify-content: center;
        flex-shrink: 1;
    }

    .projects_page.browse_by_category_section .categories_list .category_btn {
        flex: 0 0 calc(50% - 20px);
        min-width: max-content;
        flex-grow: 1;
    }
}








.projects_page.latest_news_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 var(--max-hor-padding);
    padding-top: 100px;
    padding-bottom: 50px;
}



.projects_page.latest_news_section .news_list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.projects_page.latest_news_section .news_list .news_item {
    width: 25%;
    max-width: 300px;
}

.projects_page.latest_news_section .news_list .news_item>img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 20px;
}




@media (max-width: 1100px) {
    .projects_page.latest_news_section .news_list {
        gap: 30px;
    }
}


@media (max-width: 900px) {
    .projects_page.latest_news_section .news_list {
        gap: 20px;
    }
}


@media (max-width: 767px) {
    .projects_page.latest_news_section .news_list {
        gap: 40px;
        flex-direction: column;
    }

    .projects_page.latest_news_section .news_list .news_item {
        max-width: none;
        width: 100%;
    }
}









/* Projects Page Style End */




/* Upcoming Projects Page Style Start */

.upcoming_projects_page.home_section {
    width: 100%;
    padding: 0 var(--max-hor-padding);
    padding-top: 150px;
    padding-bottom: 190px;
}


.upcoming_projects_page.home_section .head {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 35px;
    border-bottom: 1px solid #292220;
}




.upcoming_projects_page.home_section .section_left .filters_tab_toggle_btn {
    position: fixed;
    left: calc(200% + 10px);
    bottom: 20px;
    outline: none;
    border: none;
    background: #110907;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    color: var(--light);
    box-shadow: 0 4px 20px rgba(59, 59, 59, 0.3);
    z-index: 5;
    display: none;
}


.upcoming_projects_page.home_section .section_left.expanded .filters_tab_toggle_btn>.filter_svg,
.upcoming_projects_page.home_section .section_left .filters_tab_toggle_btn>.close_svg {
    display: none;
}

.upcoming_projects_page.home_section .section_left.expanded .filters_tab_toggle_btn>.close_svg,
.upcoming_projects_page.home_section .section_left .filters_tab_toggle_btn>.filter_svg {
    display: block;
}



.upcoming_projects_page.home_section .filters_tab_toggle_btn svg path {
    fill: var(--light);
}




.upcoming_projects_page.home_section .content {
    display: flex;
    flex-direction: row;
    gap: 35px;
}




.upcoming_projects_page.home_section .section_left {
    width: 33%;
}


.upcoming_projects_page.home_section .section_left .filter_blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upcoming_projects_page.home_section .section_left .filter_blocks .filter_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px;
}





.upcoming_projects_page.home_section .categories_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


.upcoming_projects_page.home_section .categories_list .category_btn {
    display: block;
    height: 40px;
    min-width: max-content;
    width: calc(50% - 5px);
    border-radius: 0px;
    padding: 0 30px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: var(--light);
    outline: none;
    border: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    transition: all .3s ease;
    border-radius: 30px;
}

.upcoming_projects_page.home_section .categories_list .category_btn:is(:hover, .active) {
    color: var(--primary);
}










.upcoming_projects_page.home_section .section_right {
    width: 66%;
    min-width: 800px;
}


.upcoming_projects_page.home_section .section_right .nft_projects_list.row_view {
    column-gap: 10px;
    row-gap: 40px;
}



.upcoming_projects_page.home_section .section_right .nft_projects_list.row_view .nft_project {
    width: calc(50% - 10px);
}




@media (max-width:900px) {
    .upcoming_projects_page.home_section .section_left {
        width: 40%;
    }

    .upcoming_projects_page.home_section .section_right {
        width: 60%;
        min-width: 0;
    }

    .upcoming_projects_page.home_section .section_right .nft_projects_list.row_view .nft_project {
        width: 100%;
    }
}






@media (max-width: 767px) {
    .upcoming_projects_page.home_section {
        padding-bottom: 100px;
    }

    .upcoming_projects_page.home_section .section_left {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        transform: translateX(-100%);
        z-index: 10;
        background-color: #110907;
        box-shadow: 3px 1px 16px 0 rgba(43, 43, 43, 0.24);
        padding: 20px;
        transition: all .4s ease;
    }


    .upcoming_projects_page.home_section .section_right {
        width: 100%;
    }


    .upcoming_projects_page.home_section .section_left .filters_tab_toggle_btn {
        display: block;
    }

    .upcoming_projects_page.home_section .section_left.expanded {
        transform: translateX(0);
    }

    .upcoming_projects_page.home_section .section_left.expanded .filters_tab_toggle_btn {
        left: calc(100% + 10px);
    }
}




/* Upcoming Projects Page Style End */











/* Project Submitted Success Page Style Start */

.success_page.home_section {
    padding: 0 var(--max-hor-padding);
    padding-top: 160px;
    padding-bottom: 100px;
    min-height: calc(100vh - 280px);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.success_page.home_section .heading {
    margin-bottom: 20px;
}


.success_page.home_section .verification_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 40px;
}



.success_page.home_section .verification_cards .verification_card {
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}


.success_page.home_section .verification_cards .verification_card .head {
    width: 100%;
    display: inline-flex;
    padding-bottom: 15px;
    align-items: center;
    gap: 11px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}



.success_page.home_section .verification_cards .verification_card .price {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.success_page.home_section .verification_cards .verification_card ul {
    padding-left: 20px;
    padding-top: 20px;
}

.success_page.home_section .verification_cards .verification_card ul li {
    list-style-image: url(/images/icons/tick.svg);
}



.success_page.home_section .verification_cards .verification_card .btn {
    width: 100%;
    justify-content: center;
    margin-top: auto;
    height: 46px;
}


@media (max-width:767px) {
    .success_page.home_section .verification_cards {
        flex-direction: column;
    }

    .success_page.home_section .verification_cards .verification_card {
        width: 100%;
    }
}




/* Project Submitted Success Page Style End */














/* Submit Project Page Style Start  */

.submit_project_page.home_section {
    padding: 0 var(--max-hor-padding);
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}


.submit_project_page.home_section .content {
    width: 100%;
    max-width: 1100px;
}


.submit_project_page.home_section .content>.head {
    margin-bottom: 100px;
}

.submit_project_page.home_section .content .head .heading {
    margin-bottom: 10px;
}




.submit_project_page.home_section .content .input_sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.submit_project_page.home_section .content .input_sections .input_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 14px;
}


.submit_project_page.home_section .content .input_sections .input_section .col-1 {
    width: 100%;
    flex: 0 0 100%;
}


.submit_project_page.home_section .content .input_sections .input_section .col-3 {
    width: 100%;
    flex: 0 0 calc(33% - 7px);
}


.submit_project_page.home_section .content .input_sections .input_section .col-2 {
    width: 100%;
    flex: 0 0 calc(50% - 7px);
}




.input_group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}


.submit_project_page.home_section .content .input_sections .input_section .submit_btn {
    padding-left: 68px;
    padding-right: 68px;
    margin-top: 60px;
}



.input_group label {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--light-70);
    white-space: pre-wrap;
}

.input_group label span {
    color: #FC4545;
}


.input_group select,
.input_group file-input,
.input_group textarea,
.input_group input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 10px 16px;
    width: 100%;
    min-height: 46px;
    height: auto;
    background-color: transparent;
    outline: none;
    transition: all .3s ease;
    position: relative;
}


::-webkit-calendar-picker-indicator {
    filter: invert(.7);
}


.input_group select {
    appearance: none;
}

.input_group select option {
    background: #110907;
}




.input_group file-input {
    height: 162px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}




.input_group .expand_icon {
    position: absolute;
    bottom: 0;
    right: 16px;
    color: var(--light-70);
    font-size: 18px;
    line-height: 46px;
}

.input_group .text_right {
    position: absolute;
    bottom: 3px;
    right: 10px;
    line-height: 46px;
    height: 46px;
    overflow-y: hidden;
    padding-left: 10px;
    color: var(--light-70);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
}



.input_group input.pad-right {
    padding-right: 50px;
}



.input_group textarea:focus,
.input_group input:focus {
    border-color: rgba(255, 255, 255, 0.7);
}



.input_group select,
.input_group file-input,
.input_group input::placeholder,
.input_group input {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}












@media (max-width:767px) {

    .submit_project_page.home_section .content .input_sections .input_section .input_group .text_right {
        bottom: 1px;
    }

    .submit_project_page.home_section .content .input_sections .input_section .col-2,
    .submit_project_page.home_section .content .input_sections .input_section .col-3 {
        flex: 0 0 100%;
    }

}




/* Submit Project Page Style End */













/* Project Detail Page Style Start */

.project_detail_page.home_section {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 var(--max-hor-padding);
    padding-top: 80px;
    padding-bottom: 130px;
    position: relative;
    display: flex;
    justify-content: center;
}

.project_detail_page.home_section .project_banner_image {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}


.project_detail_page.home_section .content {
    max-width: 1100px;
    width: 100%;
}



.project_detail_page.home_section .content .project_info {
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}



.project_detail_page.home_section .content .project_info>img {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    aspect-ratio: 1;
}


.project_detail_page.home_section .content .project_info .details {
    padding-top: 50px;
}


.project_detail_page.home_section .content .project_info .details .title {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 25px;
}


.project_detail_page.home_section .content .project_info .details .other_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100%;
}


.project_detail_page.home_section .content .project_info .details .other_info button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    justify-content: center;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark);
    text-transform: uppercase;
    gap: 13px;
    background-color: var(--light);
    border-radius: 20px;
    border: none;
    outline: none;
}

.project_detail_page.home_section .content .project_info .details .other_info button svg path {
    fill: var(--dark);
}

.project_detail_page.home_section .content .project_info .details .other_info button.total_supply {
    background: rgba(255, 255, 255, 0.1);
    color: var(--light);
}



.project_detail_page.home_section .content .project_info .details .other_info .divider {
    height: 40px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}









.project_detail_page.home_section .content .sale_info {
    width: 100%;
    display: flex;
    margin: 60px 0;
    padding: 74px 0;
    justify-content: space-between;
    position: relative;
    column-gap: 20px;
    row-gap: 50px;
    /* flex-wrap: wrap; */
}


.project_detail_page.home_section .content .sale_info::after {
    content: "";
    width: 100vw;
    position: absolute;
    top: 0;
    left: calc(((100vw - 100%) / 2) * -1);
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;
}





@media (max-width:767px) {
    .project_detail_page.home_section .content .project_info {
        flex-direction: column;
        gap: 50px;
        justify-content: flex-start;
    }

    .project_detail_page.home_section .content .project_info .details {
        padding-top: 0;
    }

    .project_detail_page.home_section .content .project_info .details .other_info {
        flex-wrap: wrap;
    }


    .project_detail_page.home_section .content .project_info .details .other_info .divider {
        display: none;
    }


    .project_detail_page.home_section .content .sale_info {
        flex-direction: column;
    }
}








.project_detail_page.home_section .content .event_info {
    display: flex;
    width: 100%;
    height: auto;
    gap: 70px;
}



.project_detail_page.home_section .content .event_info .head {
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}



.project_detail_page.home_section .content .event_info .event_details {
    width: 100%;
}


.project_detail_page.home_section .content .event_info .event_details .detail_blocks {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


.project_detail_page.home_section .content .event_info .event_details .detail_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}




.project_detail_page.home_section .content .event_info .event_details .detail_block>p:first-child {
    min-width: 120px;
}






.project_detail_page.home_section .content .event_info .register_for_event {
    min-width: 315px;
}



.project_detail_page.home_section .content .event_info .register_for_event .register_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




@media (max-width: 900px) {
    .project_detail_page.home_section .content .event_info .event_details .detail_block>p:first-child {
        min-width: 100px;
    }

    .project_detail_page.home_section .content .event_info .register_for_event {
        min-width: 250px;
    }

}


@media (max-width: 767px) {
    .project_detail_page.home_section .content .event_info {
        flex-direction: column;
    }

    .project_detail_page.home_section .content .event_info .event_details {
        width: 100%;
    }

    .project_detail_page.home_section .content .event_info .register_for_event {
        width: 100%;
    }

}

/* Project Detail Page Style End */


/* Article Details Pages Style Start  */


.article_detail_page .home_section {
    padding: 0 var(--max-hor-padding);
    width: 100%;
    padding-top: 180px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
}


.article_detail_page .home_section .content {
    width: 100%;
    max-width: 850px;
}


.article_detail_page .home_section .content .article_image {
    width: 100%;
    height: auto;
}



.article_detail_page .home_section .content .social_btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}




.article_detail_page .home_section .content .social_btns .social_btn {
    display: block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 17px 18px;
    gap: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    min-width: calc(20% - 14px);
}


.article_detail_page .home_section .content .social_btns .social_btn.disabled {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
}

.article_detail_page .home_section .content .social_btns .social_btn.disabled>span {
    padding-left: 0;
    border-left: none;
}


.article_detail_page .home_section .content .social_btns .social_btn>span {
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}






.article_detail_page .related_articles_section {
    width: 100%;
    padding: 0 var(--max-hor-padding);
    display: flex;
    justify-content: center;
    padding-bottom: 170px;
}


.article_detail_page .related_articles_section .content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}



.article_detail_page .related_articles_section .content .next_prev_btns {
    display: flex;
    align-items: center;
    gap: 43px;
}





/* Article Details Pages Style End  */