
.btn {
    text-decoration: none;
    outline: none;
    border: none;
    width: max-content;
    min-width: max-content;
    padding: 0 25px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    transition: all .4s ease;
    cursor: pointer;
}

.btn.small {
    padding: 7px 15px;
    font-size: 10px;
    gap: 6px;
    height: 26px;
}



.btn.light {
    background: var(--white-gradient);
    color: var(--dark);
}


.btn.light:hover {
    color: var(--light);
    background: var(--dark);
}


.btn>i {
    font-size: 8px;
    margin-top: 3px;
}

.btn.small>i {
    font-size: 6px;
    margin-top: 2px;
}



.btn.primary {
    background: var(--primary-gradient);
    color: var(--light);
}


.btn.primary:hover {
    color: var(--light);
    background: var(--primary-gradient-invert);
}




.btn.dark {
    background: var(--half-white-gradient);
    color: var(--light);
}