.interaction_card {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}


.interaction_card .wrapper {
    max-width: calc(100vw - (var(--max-hor-padding) * 2));
    width: 100%;
    display: flex;
    justify-content: center;
}





.interaction_card .inner {
    width: 100%;
    max-width: 772px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--primary-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    gap: 10px;
    text-align: center;
    padding: 20px 0;
}



.interaction_card.large .wrapper {
    max-width: 100vw;
}


.interaction_card.large .wrapper .inner {
    max-width: 100vw;
    width: 100%;
}



@media (max-width:767px) {
    .interaction_card {
        height: 100%;
    }

    .interaction_card .inner {
        flex-direction: column;
        gap: 20px;
    }
}

