

.interaction_card {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}



.interaction_card .inner {
    max-width: calc(100vw - (var(--max-hor-padding) * 2));
    width: 772px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--primary-gradient);
    /* background-image: url(/images/interact_card.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 10px;
    text-align: center;
    padding: 20px 0;
}



@media (max-width:767px) {
    .interaction_card {
        height: 100%;
    }
    .interaction_card .inner {
        flex-direction: column;
    }
}




